@media screen {
    header {
        width: 100%;
        height: 20vh;
        background-color: #800080;
        margin: 0;
        padding: 30px 60px;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
    }
    .header_block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-wrapper {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .logo {
        color: white;
        cursor: pointer;
        font-size: 6vh;
        letter-spacing: 10px;
        font-weight: 900;
        margin-right: 15px;
    }
    .search_form {
        min-width: 25vh;
        height: 30px;
    }
    .input_form_search{
        width: 100%;
        height: 100%;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
    }
    .menu-btn {
        display: none;
    }
    .menu_section_drower{
        display: none;
    }
    .icon_wrapper {
        display: none;
    }
    .icon_wrapper {
        display: flex;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }
    .fa-search {
        width: 80%;
        height: 80%;
        color: aliceblue;

    }
    
    @media (max-width: 1000px) {
        .menu_section{
            display: none;
        }
        header {
            height: 10vh;
            padding: 10px 60px;
        }
        .header-wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            font-size: 3vh;
        }
        .search_form {
            min-width: 15vh;
            height: 30px;
        }
        .menu-btn {
            display: flex;
            width: 30px;
            height: 30px;
            position: relative;
            z-index:2;
            overflow: hidden;
        }
        .menu-btn span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            transition: all 0.5s;
            z-index: 1;
        }
        .menu-btn span:nth-of-type(2) {
            top: calc(50% - 8px);
        }
        .menu-btn span:nth-of-type(3) {
            top: calc(50% + 8px);
        }
        .menu-btn.active span:nth-of-type(1) {
            display: none;
          }
        
        .menu-btn.active span:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);  
          }
        .menu-btn.active span:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg); 
          }
        .menu_section_drower {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            background: white;
            transform: translateX(-100%);
            transition: transform 0.5s; 
            z-index: 10;
        }
        .menu_section_drower.active {
            transform: translateX(0);
        }
        .movie_platform{
            width: 100%;
            height: 1000px;
            background-color:bisque;
            z-index: -3;
        }
        .menu_wrapper .search_form{
            display: none;
        }
        .header_block .search_form{
            display: flex;
        }
        .menu_section_drower {
            padding-top: 60px;
        }
    }
    @media (max-width: 600px) {
        .menu_wrapper .search_form{
            display: flex;
        }
        .header_block .search_form{
            display: none;
        }
        header {
            height: 10vh;
            padding: 10px 30px;
        }
        .search_form {
            display: none;
        }
        .header_block{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo_wrapper {
            margin-bottom: 3px;
        }
        .icon_wrapper {
            display: flex;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
        }
        .fa-search {
            width: 80%;
            height: 80%;
            color: aliceblue;

        }
        .search_form{
            display: flex;
        }
        .menu_wrapper .search_form {
            margin: 10px 30px;
        }
    }
}




