.movie_platform {
    padding: 20px;
    display: flex;
    width: 80%;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f5f5f5;
  }
  
  .movie {
    width: 250px;
    margin: 10px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 20px;
  }
  
  .movie__cover-inner {
    position: relative;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .movie__cover {
    max-width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  
  .movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  .movie__info {
    padding: 10px 0px;
  }
  
  .movie__title {
    font-size: 16px;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  
  .movie__category {
    font-size: 14px;
    color: #ffd80e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
  }
  
  .movie__average--green {
    border: 1px solid green;
  }
  
  .movie__average--orange {
    border: 1px solid orange;
  }
  
  .movie__average--red {
    border: 1px solid red;
  }
  @media (max-width: 1000px) {
    .main_section {
      display: block;
    }
    .movie_platform {
        width: 100%;
    }

  }
  