<mat-nav-list>
  <a mat-list-item
     routerLink="/home"
     (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Головна</span>
  </a>
  <a mat-list-item
     routerLink="/design"
     (click)="onSidenavClose()">
    <mat-icon>personal_video</mat-icon> <span class="nav-caption">Дизайн</span>
  </a>
  <a mat-list-item
     routerLink="/contacts"
     (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon><span class="nav-caption">Про нас</span>
  </a>
</mat-nav-list>
