@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');body{
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: url('images/sky.jpg');
  background-attachment: fixed;
}

.btnBack{
  margin: 10px auto;
  width: 30vh;
  height: 7vh;
  border-radius: 20px;
  border-color: #FFFF00;
  background-color: #FFFF00;
  color:black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight:600;
  font-size: 90%;
  padding: 3px;
}
.container{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
h1{
  color:azure;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 6px;
}
.main{
  position: relative;
  text-align: center;
  max-width:60vh;
  min-height:30vh;
}
.answerLine{
  color:azure;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  font-weight: 1000;
  background-color: rgba(255, 255, 255, 0.1)	;
}
img{
  max-width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
img:hover{
  transform: scale3D(1.05, 1.05,1.05); 
}
.circle{
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}
@keyframes swing {
  15% {
    transform: translateX(9px);
  }
  30% {
    transform: translateX(-9px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  65% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
.myInput{
  margin:20px;
  width:70%;
  height: 3vh;
  border-radius: 20px;
  border-color: #3f00fe;
  background-color: rgba(255,255,255,0.1)	;
  color:azure;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}
.noinput{
  border-color: red;
}
.generateBtn{
  margin: 10px;
  width: 30vh;
  height: 7vh;
  border-radius: 20px;
  border-color: #fe019a;
  color: #fe019a;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight:600;
  font-size: 90%;
  padding: 3px;
  transition: all 0.5s ease-in-out;
}
.generateBtn:hover{
  background-color: #fe019a;
  color:azure;
}
.eraseBtn{
  margin: 10px;
  width: 30vh;
  height:7vh;
  border-radius: 20px;
  border-color: #ff00fe;
  color: #ff00fe;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight:600;
  font-size: 90%;
  padding: 3px;
  transition: all 0.5s ease-in-out;
}
.eraseBtn:hover{
  background-color: #ff00fe;
  color:azure;
}
.buttonLine{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}