<section class="contacts">
  <h3>Programmистики</h3>
  <div class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Руденко Жанна</mat-card-title>
        <mat-card-subtitle>Розробник front-end</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/contacts/me.jpg" alt="Zhanna">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Морозова Надія</mat-card-title>
        <mat-card-subtitle>Scrum майстер-розробник</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/contacts/nadiya.jpg" alt="Nadiya">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Шевченко Олександр</mat-card-title>
        <mat-card-subtitle>Розробник-тестувальник</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/contacts/oleksandr.jpg" alt="Oleksandr">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Муха Олег</mat-card-title>
        <mat-card-subtitle>Розробник-backend</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/contacts/oleg.jpg" alt="Oleg">
    </mat-card>
  </div>
</section>
<section class="contacts">
  <h3>Наша команда</h3>
  <img mat-card-image src="assets/contacts/all.jpg" alt="all" class="example-card__main">
</section>

<app-feedback-form></app-feedback-form>
