.contacts {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacts h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.cards__main {
  justify-content: center;
}
.example-card__main {
  width: 650px;
  min-height: 520px;
}

.example-card {
  width: 300px;
  min-height: 300px;
  margin: 0 5px 20px 5px;
}


@media (max-width: 900px) {
  .contacts h3{
    font-size: 40px;
  }
  .example-card__main {
    width: 500px;
    min-height: 400px;
  }
}

@media (max-width: 700px) {
  .contacts h3 {
    font-size: 25px;
  }
  .cards {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .example-card__main {
    width: 400px;
    min-height: 300px;
  }
}

@media (max-width: 430px) {
  .example-card__main {
    width: 300px;
    min-height: 200px;
  }
}

@media (max-width: 300px) {
  .contacts h3 {
    font-size: 25px;
  }
  .cards {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .example-card__main {
    width: 100%;
    min-height: auto;
  }
}

