@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
  display: flex;
  justify-content: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btnBack{
  margin: 0 auto;
  width: 30vh;
  height: 7vh;
  border-radius: 20px;
  border-color: #FFFF00;
  background-color: #FFFF00;
  color:black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight:600;
  font-size: 90%;
  padding: 3px;

}

.btnGenerate{
  margin: 0 auto;
  width: 30vh;
  height: 7vh;
  border-radius: 20px;
  border-color:#8B0000	;
  background-color: #8B0000	;
  color:azure;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight:600;
  font-size: 90%;
  padding: 3px;
}
.btnGenerate:hover{
  animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  20% {
      box-shadow: 0 0 0 12px rgba(139, 0, 0,0.3);
  }
  40% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  60% {
    box-shadow: 0 0 0 12px rgba(139, 0, 0,0.3);
}
  80% {
  box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
}
  100% {
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.result__box{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.win__box_1{
  width: 30vh;
  height: 13vh;
  padding: 5px;
  background-color: #66e591;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showBlock 0.5s linear forwards;
  position:absolute;
  margin: 0 auto;
}
.win__box_2{
  width: 30vh;
  height: 13vh;
  padding: 5px;
  background-color: #e65c65;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showBlock 0.5s linear forwards;
  position:absolute;
  margin: 0 auto;
}
.win__box_3{
  width: 30vh;
  height: 13vh;
  padding: 5px;
  background-color: #e6a75c;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showBlock 0.5s linear forwards;
  position:absolute;
  margin: 0 auto;
}
.main__box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  flex-wrap: wrap;
  position: relative;
}
.title{
  font-family: 'Montserrat', sans-serif;
  color: azure;
  font-size: 6vh;
  background-color: #DC143C	;
  border-radius: 8px;
  padding: 1vh;
  text-align: center;
}
.score__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.score__box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.name{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:azure;
  font-size: 150%;
  letter-spacing: 2px;
}
.score{
  width: 15vh;
  height: 5vh;
  padding: 1vh;
  margin: 8%;
  border-radius: 50px;
  text-align: center;
  font-size: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  background-color: #FFD700;
}

.result{
  width:100%;
  height: 100%;
}
.res_title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 3vh;
}
.res_picture_1{
  width: 8vh;
  height: 8vh;
}
.res_picture_2{
  width: 6vh;
  height: 6vh;
}
.cards__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.img__box{
  width:35%;
  height: 30vh;
  padding: 1vh;
  border-radius: 20px;
  background-color: azure;
  margin-top: 10px;
}

.card{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.sign__box{
  width: 15%;
  height:70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 3vh;
  background-color: #9ACD32;
  border-radius: 8px;
  padding: 1vh;
  margin: 0 auto;
  width: 45%;
  text-align: center;
}
.subtitle__row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invisible {
  display: none;
}
.picture{
  width:100%;
  height: 100%;
}