<section class="contacts">
  <div class="cards">
    <mat-card class="tech_card">
      <mat-card-header>
        <mat-card-title>Kotlin</mat-card-title>
        <mat-card-subtitle>Cтатично типізована мова програмування,
          що працює поверх JVM і розробляється компанією JetBrains</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Room for database</mat-card-title>
        <mat-card-subtitle>Високоурівневий інтерфейс для низькоурівневих зв'язків SQLite, вбудованих в Android</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card class="tech_card">
      <mat-card-header>
        <mat-card-title>Hilt for Dependency Injection </mat-card-title>
        <mat-card-subtitle>Забезпечення стандартного способу реалізації DI в додатках Android</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Navigation component</mat-card-title>
        <mat-card-subtitle>Комплексне вирішення всіх проблем для будь-якого типу навігації у додатках Android.
          Він допомагає керувати навігацією,
          транзакціями фрагментів, бекстеком, анімацією, глибокими посиланнями, а також багатьма іншими</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card class="tech_card">
      <mat-card-header>
        <mat-card-title>Navigation component</mat-card-title>
        <mat-card-subtitle>Набір екранів призначення</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Material design (material.io)</mat-card-title>
        <mat-card-subtitle>Зовнішній вигляд програмного забезпечення та програм ОС Android від компанії Google</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card class="tech_card">
      <mat-card-header>
        <mat-card-title>Glide</mat-card-title>
        <mat-card-subtitle>Завантаження фото через посилання</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ViewModel</mat-card-title>
        <mat-card-subtitle>Спосіб організації коду. Він допомагає відокремити інтерфейс користувача від логіки</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card class="tech_card">
      <mat-card-header>
        <mat-card-title>MVVM (Model - View - ViewModel)</mat-card-title>
        <mat-card-subtitle>Шаблон дизайну архітектури</mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
