@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  width: 50%;
}


.banner-title__main {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}
.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
}

.banner-title_app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: #3f51b5;
}

.banner-title_app p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #3f51b5;
  margin-left: 3px;
}

.banner-image_wrapper {
  width: 50%;
  height: 90vh;
}

.banner-image_wrapper img{
  width: 100%;
  height: 100%;
}

.advantages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.advantages h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.advantages-tabs {
  width: 80%;
  height: 100%;
}
.advantages-tab {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages-tab__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.advantages-tabs__par {
  width: 450px;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.advantages-tabs__img {
  width: 300px;
  height: 230px;
  margin-left: 5px;
}
.advantages-tabs__img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.screen {
  width: 260px;
  height: 410px;
  margin: 10px;
}

.categories {
  width: 400px;
  height: 250px;
  margin: 10px;
}
.product-table {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

table {
  width: 100%;
}

@media (max-width: 1100px) {
  .banner-image_wrapper {
    display: none;
  }

  .banner-title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .banner-title__main {
    text-align: center;
  }

  .banner-title_app {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .banner-title__main {
    font-size: 50px;
  }

  .banner-title_app p{
    font-size: 15px;
  }

  .advantages h3{
    font-size: 40px;
  }
  .advantages-tabs__par {
    font-size: 15px;
    height: 200px;
  }
  .advantages-tabs {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .banner-title__main {
    font-size: 30px;
  }
  .advantages h3{
    font-size: 25px;
  }
  .advantages-tabs__img {
    width: 200px;
    height: 150px;
  }
  .advantages-tabs__par {
    width: 100%;
  }
  .screen {
    width: 200px;
    height: 350px;
  }
  .categories {
    width: 400px;
    height: 200px;
    margin: 10px;
  }
}
